<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passiondroid.bugbuddy" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:name=".ui.BugReportActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
